__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.env
*.log

# dados privados
data/

# artefatos intermediários do LaTeX (gerados na compilação, não versionar)
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*-blx.bib
